# Data Science Tools and Ecosystem

In this notebook, we will explore various tools, libraries, and languages used in the field of Data Science. Additionally, we will demonstrate basic arithmetic operations using Python.

## Data Science Languages
 Python
 R
 SQL
 Julia
 Scala

## Data Science Libraries
 Pandas
 NumPy
 Matplotlib
 Scikit-learn
 TensorFlow
 Keras

## Data Science Tools

| Tool             | Category         |
|------------------|------------------|
| Jupyter Notebook | IDE/Notebook     |
| RStudio          | IDE              |
| Apache Hadoop    | Big Data Tool    |
| TensorFlow       | ML Library       |
| PowerBI          | Visualization    |

### Below are examples of arithmetic expressions in Python.

In [3]:
# This expression multiplies 3 and 4, then adds 5
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

### Objectives
 List popular languages for Data Science
 Introduce commonly used libraries
 Showcase arithmetic operations
 Demonstrate markdown usage in Jupyter
 Share notebook via GitHub

**Author:** Sehar